@model Models.ViewModels.VMProduct
@{
    ViewData["Title"] = "New Product";
}

<form method="post" enctype="multipart/form-data">
    <div class="col-6">
        <div class="border p-2 mt-2">
            <div class="row pb-1">
                <h3>New Product</h3>
            </div>
            <div class="row form-group">
                <label asp-for="Product.Name" class="col-3"></label>
                <div class="col-9">
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="Product.Description" class="col-3"></label>
                <div class="col-9">
                    <input asp-for="Product.Description" class="form-control" />
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="Product.Price" class="col-3"></label>
                <div class="col-9">
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="Product.CategoryId" class="col-3"></label>
                <div class="col-9">
                    <select asp-for="Product.CategoryId" asp-items="@Model.Categories" class="form-control">
                        <option selected disabled>---Select---</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="Product.ImageUrl" class="col-3"></label>
                <div class="col-9">
                    <input type="file" id="image" name="file" class="form-select" />
                </div>
            </div>
            <div class="form-group text-center">
                <inut type="hidden" asp-for="Product.Id" />
                <button class="btn btn-primary" onclick="return ValidateEmpty()" type="submit">Save</button>
            </div>
        </div>
    </div>
</form>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function ValidateEmpty() {
            if (document.getElementById("image").value == ""){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                    footer: '<a href="">Why do I have this issue?</a>'
                });
                return false;
            }
        }
    </script>
}